In [74]:
import time
import random
from selenium import webdriver
import csv
from selenium.webdriver.support.select import Select
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import bs4
import pandas as pd

In [75]:
driver = webdriver.Chrome(executable_path=r'/Users/aniketmuluk/Downloads/chromedriver')

In [76]:
driver.get('http://www.mlb.com')

In [77]:
stats_header_bar = driver.find_element_by_class_name('megamenu-navbar-overflow__menu-item-link')

In [78]:
stats_header_bar.click()

In [80]:
hitting_season_element = driver.find_element_by_id('sp_hitting_season')
season_select = Select(hitting_season_element)

In [81]:
season_select.select_by_value('2015')

In [82]:
hitting_gametype_element = driver.find_element_by_id("sp_hitting_game_type")
gametype_select = Select(hitting_gametype_element)
gametype_select.select_by_value("'R'")

In [83]:
hitting_team = driver.find_element_by_xpath('//*[@id="st_parent"]')
hitting_team.click()

In [84]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [85]:
column_head = []
col_by_row = []
def get_data_table():
    for tr in soup.tbody.findAll('tr'):
        row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
        col_by_row.append(row)
        for th in soup.thead.tr.findAll('th'):
            if len(column_head)<len(col_by_row[0]):
                column_head.append(th.text.replace('▲','').replace('▼',''))
    print(column_head)
    print(col_by_row)

In [86]:
get_data_table()

['RK', 'Team', '', 'League', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB', 'CS', 'AVG', 'OBP', 'SLG', 'OPS', 'IBB', 'HBP', 'SAC', 'SF', 'TB', 'XBH', 'GDP', 'GO', 'AO', 'GO_AO', 'NP', 'PA']
[['1', 'Detroit Tigers', 'det', 'AL', '161', '5605', '689', '1515', '289', '49', '151', '660', '455', '1259', '83', '51', '.270', '.328', '.420', '.748', '36', '41', '23', '35', '2355', '489', '152', '1584', '1460', '1.08', '23702', '6159'], ['2', 'Toronto Blue Jays', 'tor', 'AL', '162', '5509', '891', '1480', '308', '17', '232', '852', '570', '1151', '88', '23', '.269', '.340', '.457', '.797', '12', '54', '36', '62', '2518', '557', '140', '1724', '1395', '1.24', '24051', '6231'], ['3', 'Kansas City Royals', 'kc', 'AL', '162', '5575', '724', '1497', '300', '42', '139', '689', '383', '973', '104', '34', '.269', '.322', '.412', '.734', '28', '77', '34', '47', '2298', '481', '133', '1759', '1560', '1.13', '22705', '6116'], ['4', 'San Francisco Giants', 'sf', 'NL', '162', '5565', '696', '1486', '288', '39', '136', '663', '457', '1159', '93', '36', '.267', '.326', '.406', '.732', '30', '49', '45', '37', '2260', '463', '142', '1830', '1314', '1.39', '23191', '6153'], ['5', 'Colorado Rockies', 'col', 'NL', '162', '5572', '737', '1479', '274', '49', '186', '702', '388', '1283', '97', '43', '.265', '.315', '.432', '.748', '47', '33', '44', '34', '2409', '509', '114', '1628', '1374', '1.18', '22661', '6071'], ['6', 'Boston Red Sox', 'bos', 'AL', '162', '5640', '748', '1495', '294', '33', '161', '706', '478', '1148', '71', '27', '.265', '.325', '.415', '.740', '28', '46', '30', '42', '2338', '488', '127', '1756', '1440', '1.22', '24709', '6237'], ['7', 'Arizona Diamondbacks', 'ari', 'NL', '162', '5649', '720', '1494', '289', '48', '154', '680', '490', '1312', '132', '44', '.264', '.324', '.414', '.738', '40', '33', '46', '57', '2341', '491', '134', '1759', '1321', '1.33', '23332', '6276'], ['8', 'Miami Marlins', 'mia', 'NL', '162', '5463', '613', '1420', '236', '40', '120', '575', '375', '1150', '112', '45', '.260', '.310', '.384', '.694', '30', '39', '71', '40', '2096', '396', '133', '1921', '1216', '1.58', '22254', '5988'], ['9', 'Pittsburgh Pirates', 'pit', 'NL', '162', '5631', '697', '1462', '292', '27', '140', '661', '461', '1322', '98', '45', '.260', '.323', '.396', '.719', '46', '89', '63', '41', '2228', '459', '115', '1739', '1327', '1.31', '23889', '6285'], ['10', 'Texas Rangers', 'tex', 'AL', '162', '5511', '751', '1419', '279', '32', '172', '707', '503', '1233', '101', '39', '.257', '.325', '.413', '.739', '32', '76', '43', '54', '2278', '483', '99', '1648', '1407', '1.17', '23738', '6187'], ['11', 'Cleveland Indians', 'cle', 'AL', '161', '5439', '669', '1395', '303', '29', '141', '640', '533', '1157', '86', '28', '.256', '.325', '.401', '.725', '34', '39', '47', '50', '2179', '473', '134', '1675', '1443', '1.16', '23795', '6109'], ['12', 'St. Louis Cardinals', 'stl', 'NL', '162', '5484', '647', '1386', '288', '39', '137', '619', '506', '1267', '69', '38', '.253', '.321', '.394', '.716', '47', '66', '39', '42', '2163', '464', '128', '1677', '1363', '1.23', '23494', '6139'], ['13', 'Tampa Bay Rays', 'tb', 'AL', '162', '5485', '644', '1383', '278', '32', '167', '612', '436', '1310', '87', '45', '.252', '.314', '.406', '.720', '22', '84', '19', '47', '2226', '477', '121', '1510', '1469', '1.03', '23210', '6071'], ['14', 'Milwaukee Brewers', 'mil', 'NL', '162', '5480', '655', '1378', '274', '34', '145', '624', '412', '1299', '84', '29', '.251', '.307', '.393', '.700', '35', '41', '55', '34', '2155', '453', '130', '1730', '1292', '1.34', '22558', '6024'], ['15', 'Atlanta Braves', 'atl', 'NL', '162', '5420', '573', '1361', '251', '18', '100', '548', '471', '1107', '69', '33', '.251', '.314', '.359', '.674', '39', '44', '67', '31', '1948', '369', '148', '1902', '1296', '1.47', '22644', '6034'], ['16', 'Washington Nationals', 'was', 'NL', '162', '5428', '703', '1363', '265', '13', '177', '665', '539', '1344', '57', '23', '.251', '.321', '.403', '.724', '38', '44', '55', '51', '2185', '455', '129', '1704', '1252', '1.36', '23247', '6117'], ['17', 'New York Yankees', 'nyy', 'AL', '162', '5567', '764', '1397', '272', '19', '212', '737', '554', '1227', '63', '25', '.251', '.323', '.421', '.744', '23', '63', '24', '54', '2343', '503', '105', '1558', '1568', '0.99', '24523', '6268'], ['18', 'Oakland Athletics', 'oak', 'AL', '162', '5600', '694', '1405', '277', '46', '146', '661', '475', '1119', '78', '29', '.251', '.312', '.395', '.707', '21', '40', '14', '38', '2212', '469', '124', '1704', '1548', '1.10', '23808', '6171'], ['19', 'Los Angeles Dodgers', 'la', 'NL', '162', '5385', '667', '1346', '263', '26', '187', '638', '563', '1258', '59', '34', '.250', '.326', '.413', '.739', '31', '60', '49', '30', '2222', '476', '135', '1630', '1365', '1.19', '23602', '6090'], ['20', 'Baltimore Orioles', 'bal', 'AL', '162', '5485', '713', '1370', '246', '20', '217', '686', '418', '1331', '44', '25', '.250', '.307', '.421', '.728', '23', '51', '20', '32', '2307', '483', '127', '1561', '1402', '1.11', '22911', '6007'], ['21', 'Houston Astros', 'hou', 'AL', '162', '5459', '729', '1363', '278', '26', '230', '691', '486', '1392', '121', '48', '.250', '.315', '.437', '.752', '22', '56', '28', '43', '2383', '534', '102', '1439', '1438', '1.00', '23543', '6073'], ['22', 'Chicago White Sox', 'cws', 'AL', '162', '5533', '622', '1381', '260', '27', '136', '595', '404', '1231', '68', '42', '.250', '.306', '.380', '.686', '22', '65', '30', '37', '2103', '423', '125', '1807', '1306', '1.38', '23140', '6070'], ['23', 'Seattle Mariners', 'sea', 'AL', '162', '5544', '656', '1379', '262', '22', '198', '624', '478', '1336', '69', '45', '.249', '.311', '.411', '.722', '31', '36', '38', '35', '2279', '482', '123', '1607', '1418', '1.13', '23814', '6131'], ['24', 'Philadelphia Phillies', 'phi', 'NL', '162', '5529', '626', '1374', '272', '37', '130', '586', '387', '1274', '88', '32', '.249', '.303', '.382', '.684', '20', '54', '53', '29', '2110', '439', '119', '1693', '1389', '1.22', '22644', '6053'], ['25', 'Cincinnati Reds', 'cin', 'NL', '162', '5571', '640', '1382', '257', '27', '167', '613', '496', '1255', '134', '38', '.248', '.312', '.394', '.706', '38', '42', '47', '40', '2194', '451', '112', '1640', '1493', '1.10', '23533', '6196'], ['26', 'Minnesota Twins', 'min', 'AL', '162', '5467', '696', '1349', '277', '44', '156', '661', '439', '1264', '70', '38', '.247', '.305', '.399', '.704', '31', '40', '30', '41', '2182', '477', '133', '1634', '1424', '1.15', '23100', '6017'], ['27', 'Los Angeles Angels', 'ana', 'AL', '162', '5417', '661', '1331', '243', '21', '176', '621', '435', '1150', '52', '34', '.246', '.307', '.396', '.702', '34', '58', '37', '40', '2144', '440', '116', '1676', '1453', '1.15', '22727', '5990'], ['28', 'New York Mets', 'nym', 'NL', '162', '5527', '683', '1351', '295', '17', '177', '654', '488', '1290', '51', '25', '.244', '.312', '.400', '.712', '42', '68', '29', '32', '2211', '489', '130', '1540', '1537', '1.00', '23931', '6145'], ['29', 'Chicago Cubs', 'chc', 'NL', '162', '5491', '689', '1341', '272', '30', '171', '657', '567', '1518', '95', '37', '.244', '.321', '.398', '.719', '47', '74', '32', '35', '2186', '473', '101', '1462', '1338', '1.09', '24646', '6200'], ['30', 'San Diego Padres', 'sd', 'NL', '162', '5457', '650', '1324', '260', '36', '148', '623', '426', '1327', '82', '29', '.243', '.300', '.385', '.685', '22', '40', '52', '42', '2100', '444', '108', '1597', '1411', '1.13', '23200', '6019']]

In [21]:
import pandas as pd


test = pd.DataFrame(col_by_row, columns=column_head)
test.set_index("RK")
test.to_csv('Question_1.csv')

In [29]:
test

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,Detroit Tigers,det,AL,161,5605,689,1515,289,49,...,23,35,2355,489,152,1584,1460,1.08,23702,6159
1,2,Toronto Blue Jays,tor,AL,162,5509,891,1480,308,17,...,36,62,2518,557,140,1724,1395,1.24,24051,6231
2,3,Kansas City Royals,kc,AL,162,5575,724,1497,300,42,...,34,47,2298,481,133,1759,1560,1.13,22705,6116
3,4,San Francisco Giants,sf,NL,162,5565,696,1486,288,39,...,45,37,2260,463,142,1830,1314,1.39,23191,6153
4,5,Colorado Rockies,col,NL,162,5572,737,1479,274,49,...,44,34,2409,509,114,1628,1374,1.18,22661,6071
5,6,Boston Red Sox,bos,AL,162,5640,748,1495,294,33,...,30,42,2338,488,127,1756,1440,1.22,24709,6237
6,7,Arizona Diamondbacks,ari,NL,162,5649,720,1494,289,48,...,46,57,2341,491,134,1759,1321,1.33,23332,6276
7,8,Miami Marlins,mia,NL,162,5463,613,1420,236,40,...,71,40,2096,396,133,1921,1216,1.58,22254,5988
8,9,Pittsburgh Pirates,pit,NL,162,5631,697,1462,292,27,...,63,41,2228,459,115,1739,1327,1.31,23889,6285
9,10,Texas Rangers,tex,AL,162,5511,751,1419,279,32,...,43,54,2278,483,99,1648,1407,1.17,23738,6187
10,11,Cleveland Indians,cle,AL,161,5439,669,1395,303,29,...,47,50,2179,473,134,1675,1443,1.16,23795,6109
11,12,St. Louis Cardinals,stl,NL,162,5484,647,1386,288,39,...,39,42,2163,464,128,1677,1363,1.23,23494,6139
12,13,Tampa Bay Rays,tb,AL,162,5485,644,1383,278,32,...,19,47,2226,477,121,1510,1469,1.03,23210,6071
13,14,Milwaukee Brewers,mil,NL,162,5480,655,1378,274,34,...,55,34,2155,453,130,1730,1292,1.34,22558,6024
14,15,Atlanta Braves,atl,NL,162,5420,573,1361,251,18,...,67,31,1948,369,148,1902,1296,1.47,22644,6034
15,16,Washington Nationals,was,NL,162,5428,703,1363,265,13,...,55,51,2185,455,129,1704,1252,1.36,23247,6117
16,17,New York Yankees,nyy,AL,162,5567,764,1397,272,19,...,24,54,2343,503,105,1558,1568,0.99,24523,6268
17,18,Oakland Athletics,oak,AL,162,5600,694,1405,277,46,...,14,38,2212,469,124,1704,1548,1.10,23808,6171
18,19,Los Angeles Dodgers,la,NL,162,5385,667,1346,263,26,...,49,30,2222,476,135,1630,1365,1.19,23602,6090
19,20,Baltimore Orioles,bal,AL,162,5485,713,1370,246,20,...,20,32,2307,483,127,1561,1402,1.11,22911,6007
20,21,Houston Astros,hou,AL,162,5459,729,1363,278,26,...,28,43,2383,534,102,1439,1438,1.00,23543,6073
21,22,Chicago White Sox,cws,AL,162,5533,622,1381,260,27,...,30,37,2103,423,125,1807,1306,1.38,23140,6070
22,23,Seattle Mariners,sea,AL,162,5544,656,1379,262,22,...,38,35,2279,482,123,1607,1418,1.13,23814,6131
23,24,Philadelphia Phillies,phi,NL,162,5529,626,1374,272,37,...,53,29,2110,439,119,1693,1389,1.22,22644,6053
24,25,Cincinnati Reds,cin,NL,162,5571,640,1382,257,27,...,47,40,2194,451,112,1640,1493,1.10,23533,6196
25,26,Minnesota Twins,min,AL,162,5467,696,1349,277,44,...,30,41,2182,477,133,1634,1424,1.15,23100,6017
26,27,Los Angeles Angels,ana,AL,162,5417,661,1331,243,21,...,37,40,2144,440,116,1676,1453,1.15,22727,5990
27,28,New York Mets,nym,NL,162,5527,683,1351,295,17,...,29,32,2211,489,130,1540,1537,1.00,23931,6145
28,29,Chicago Cubs,chc,NL,162,5491,689,1341,272,30,...,32,35,2186,473,101,1462,1338,1.09,24646,6200
29,30,San Diego Padres,sd,NL,162,5457,650,1324,260,36,...,52,42,2100,444,108,1597,1411,1.13,23200,6019

In [39]:
 print("Team with maximum home runs in regular season of 2015 {}".format(test.max()))

Team with maximum home runs in regular season of 2015 RK                           9
Team      Washington Nationals
                           was
League                      NL
G                          162
AB                        5649
R                          891
H                         1515
2B                         308
3B                          49
HR                         232
RBI                        852
BB                         570
SO                         973
SB                          98
CS                          51
AVG                       .270
OBP                       .340
SLG                       .457
OPS                       .797
IBB                         47
HBP                         89
SAC                         71
SF                          62
TB                        2518
XBH                        557
GDP                         99
GO                        1921
AO                        1568
GO_AO                     1.58
NP                       24709
PA                        6285
dtype: object

Question 2:

In [177]:
hitting_AL = driver.find_element_by_xpath('//*[@id="st_hitting-0"]/fieldset[2]/label[2]')
hitting_AL.click()

In [178]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [179]:
column_head1=[]
col_by_row1=[]
for tr in soup.tbody.findAll('tr'):
        row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
        col_by_row1.append(row)
        for th in soup.thead.tr.findAll('th'):
            if len(column_head1)<len(col_by_row1[0]):
                column_head1.append(th.text.replace('▲','').replace('▼',''))

In [180]:
import pandas as pd


test1_AL = pd.DataFrame(col_by_row1, columns=column_head1)
test1_AL.set_index("RK")
test1_AL.to_csv('Question_2A.csv')

In [181]:
test1_AL

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,Detroit Tigers,det,AL,161,5605,689,1515,289,49,...,23,35,2355,489,152,1584,1460,1.08,23702,6159
1,2,Toronto Blue Jays,tor,AL,162,5509,891,1480,308,17,...,36,62,2518,557,140,1724,1395,1.24,24051,6231
2,3,Kansas City Royals,kc,AL,162,5575,724,1497,300,42,...,34,47,2298,481,133,1759,1560,1.13,22705,6116
3,4,Boston Red Sox,bos,AL,162,5640,748,1495,294,33,...,30,42,2338,488,127,1756,1440,1.22,24709,6237
4,5,Texas Rangers,tex,AL,162,5511,751,1419,279,32,...,43,54,2278,483,99,1648,1407,1.17,23738,6187
5,6,Cleveland Indians,cle,AL,161,5439,669,1395,303,29,...,47,50,2179,473,134,1675,1443,1.16,23795,6109
6,7,Tampa Bay Rays,tb,AL,162,5485,644,1383,278,32,...,19,47,2226,477,121,1510,1469,1.03,23210,6071
7,8,New York Yankees,nyy,AL,162,5567,764,1397,272,19,...,24,54,2343,503,105,1558,1568,0.99,24523,6268
8,9,Oakland Athletics,oak,AL,162,5600,694,1405,277,46,...,14,38,2212,469,124,1704,1548,1.10,23808,6171
9,10,Baltimore Orioles,bal,AL,162,5485,713,1370,246,20,...,20,32,2307,483,127,1561,1402,1.11,22911,6007
10,11,Houston Astros,hou,AL,162,5459,729,1363,278,26,...,28,43,2383,534,102,1439,1438,1.00,23543,6073
11,12,Chicago White Sox,cws,AL,162,5533,622,1381,260,27,...,30,37,2103,423,125,1807,1306,1.38,23140,6070
12,13,Seattle Mariners,sea,AL,162,5544,656,1379,262,22,...,38,35,2279,482,123,1607,1418,1.13,23814,6131
13,14,Minnesota Twins,min,AL,162,5467,696,1349,277,44,...,30,41,2182,477,133,1634,1424,1.15,23100,6017
14,15,Los Angeles Angels,ana,AL,162,5417,661,1331,243,21,...,37,40,2144,440,116,1676,1453,1.15,22727,5990

In [182]:
a=test1_AL['HR']
import numpy as np

m=[]
for i in a:
    m.append(int(i))
m
Average_AL = np.mean(m)
Average_AL

175.6

Accessing NL

In [183]:
hitting_NL = driver.find_element_by_xpath('//*[@id="st_hitting-0"]/fieldset[2]/label[3]')
hitting_NL.click()

In [184]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [185]:
column_head2=[]
col_by_row2=[]
for tr in soup.tbody.findAll('tr'):
        row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
        col_by_row2.append(row)
        for th in soup.thead.tr.findAll('th'):
            if len(column_head2)<len(col_by_row2[0]):
                column_head2.append(th.text.replace('▲','').replace('▼',''))

In [186]:
import pandas as pd


test1_NL = pd.DataFrame(col_by_row2, columns=column_head1)
test1_NL.set_index("RK")
test1_NL.to_csv('Question_2A_1.csv')

In [187]:
test1_NL

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,San Francisco Giants,sf,NL,162,5565,696,1486,288,39,...,45,37,2260,463,142,1830,1314,1.39,23191,6153
1,2,Colorado Rockies,col,NL,162,5572,737,1479,274,49,...,44,34,2409,509,114,1628,1374,1.18,22661,6071
2,3,Arizona Diamondbacks,ari,NL,162,5649,720,1494,289,48,...,46,57,2341,491,134,1759,1321,1.33,23332,6276
3,4,Miami Marlins,mia,NL,162,5463,613,1420,236,40,...,71,40,2096,396,133,1921,1216,1.58,22254,5988
4,5,Pittsburgh Pirates,pit,NL,162,5631,697,1462,292,27,...,63,41,2228,459,115,1739,1327,1.31,23889,6285
5,6,St. Louis Cardinals,stl,NL,162,5484,647,1386,288,39,...,39,42,2163,464,128,1677,1363,1.23,23494,6139
6,7,Milwaukee Brewers,mil,NL,162,5480,655,1378,274,34,...,55,34,2155,453,130,1730,1292,1.34,22558,6024
7,8,Atlanta Braves,atl,NL,162,5420,573,1361,251,18,...,67,31,1948,369,148,1902,1296,1.47,22644,6034
8,9,Washington Nationals,was,NL,162,5428,703,1363,265,13,...,55,51,2185,455,129,1704,1252,1.36,23247,6117
9,10,Los Angeles Dodgers,la,NL,162,5385,667,1346,263,26,...,49,30,2222,476,135,1630,1365,1.19,23602,6090
10,11,Philadelphia Phillies,phi,NL,162,5529,626,1374,272,37,...,53,29,2110,439,119,1693,1389,1.22,22644,6053
11,12,Cincinnati Reds,cin,NL,162,5571,640,1382,257,27,...,47,40,2194,451,112,1640,1493,1.10,23533,6196
12,13,New York Mets,nym,NL,162,5527,683,1351,295,17,...,29,32,2211,489,130,1540,1537,1.00,23931,6145
13,14,Chicago Cubs,chc,NL,162,5491,689,1341,272,30,...,32,35,2186,473,101,1462,1338,1.09,24646,6200
14,15,San Diego Padres,sd,NL,162,5457,650,1324,260,36,...,52,42,2100,444,108,1597,1411,1.13,23200,6019

In [188]:
b=test1_NL['HR']
import numpy as np

m1=[]
for i in b:
    m1.append(int(i))
m1
Average_NL = np.mean(m1)
Average_NL

151.66666666666666

In [189]:
if (Average_AL>Average_NL):
    print("American league had the greatest average number of homeruns in 2015:{}".format(Average_AL))
else:
        print("National league had the greatest average number of homeruns in 2015:{}".format(Average_NL))

American league had the greatest average number of homeruns in 2015:175.6

FIRST INNING

In [190]:
hitting_inning_element = driver.find_element_by_id("st_hitting_hitting_splits")
group_select = hitting_inning_element.find_element_by_tag_name("optgroup")

In [191]:
inning_select = group_select.find_element_by_xpath('//*[@id="st_hitting_hitting_splits"]/optgroup[9]/option[1]')

In [192]:
inning_select.click()

In [193]:
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [194]:
column_head3=[]
col_by_row3=[]
for tr in soup.tbody.findAll('tr'):
        row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
        col_by_row3.append(row)
        for th in soup.thead.tr.findAll('th'):
            if len(column_head3)<len(col_by_row3[0]):
                column_head3.append(th.text.replace('▲','').replace('▼',''))

In [195]:
import pandas as pd


test1_NL_battingfirst = pd.DataFrame(col_by_row3, columns=column_head3)
test1_NL_battingfirst.set_index("RK")
test1_NL_battingfirst.to_csv('Question_2B.csv')

In [196]:
test1_NL_battingfirst

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,Miami Marlins,mia,NL,165,689,98,219,25,9,...,6,6,274,38,8,264,123,2.15,2549,732
1,2,Arizona Diamondbacks,ari,NL,169,705,105,210,40,7,...,3,8,300,59,11,253,184,1.38,2595,763
2,3,Philadelphia Phillies,phi,NL,171,703,91,205,36,7,...,3,2,264,46,6,245,153,1.60,2729,746
3,4,San Francisco Giants,sf,NL,205,679,95,197,34,3,...,1,2,267,47,12,233,169,1.38,2839,748
4,5,Colorado Rockies,col,NL,171,671,101,194,33,9,...,5,4,302,61,5,178,190,0.94,2975,745
5,6,Milwaukee Brewers,mil,NL,183,691,97,194,34,8,...,4,4,280,54,9,241,159,1.52,2589,734
6,7,Washington Nationals,was,NL,175,683,90,187,40,2,...,1,4,288,61,10,189,182,1.04,2807,751
7,8,St. Louis Cardinals,stl,NL,187,669,108,179,49,4,...,0,3,323,82,5,152,192,0.79,2907,744
8,9,Pittsburgh Pirates,pit,NL,175,699,96,186,44,6,...,1,3,266,58,3,178,212,0.84,2850,766
9,10,Chicago Cubs,chc,NL,183,661,109,170,36,8,...,1,4,273,61,5,177,155,1.14,3084,756
10,11,New York Mets,nym,NL,176,656,102,168,35,3,...,0,4,293,66,4,130,199,0.65,3239,753
11,12,Atlanta Braves,atl,NL,170,666,80,168,40,5,...,5,1,242,53,7,219,152,1.44,2941,746
12,13,San Diego Padres,sd,NL,180,673,104,166,34,6,...,4,4,275,61,6,212,165,1.28,2786,737
13,14,Cincinnati Reds,cin,NL,181,701,96,169,23,6,...,4,1,234,39,7,231,205,1.13,2817,755
14,15,Los Angeles Dodgers,la,NL,190,660,93,154,35,7,...,0,1,281,68,5,163,177,0.92,2916,745

In [215]:
c=test1_NL_battingfirst['HR']
import numpy as np

m2=[]
for i in c:
    m2.append(int(i))
m2
Average_NL_battingfirst = np.mean(m2)
Average_NL_battingfirst

15.066666666666666

AL FIRST INNING

In [208]:
hitting_AL = driver.find_element_by_xpath('//*[@id="st_hitting-0"]/fieldset[2]/label[2]')
hitting_AL.click()
data_div = driver.find_element_by_id('datagrid')
data_html = data_div.get_attribute('innerHTML')
soup = BeautifulSoup(data_html, 'html5lib')

In [209]:
column_head4=[]
col_by_row4=[]
for tr in soup.tbody.findAll('tr'):
        row = [td.text.replace(u'\xa0',u'') for td in tr.findAll('td')]
        col_by_row4.append(row)
        for th in soup.thead.tr.findAll('th'):
            if len(column_head4)<len(col_by_row4[0]):
                column_head4.append(th.text.replace('▲','').replace('▼',''))

In [210]:
import pandas as pd
test1_AL_battingfirst = pd.DataFrame(col_by_row4, columns=column_head1)
test1_AL_battingfirst.set_index("RK")
test1_AL_battingfirst.to_csv('Question_2B_1.csv')

In [211]:
test1_AL_battingfirst

,RK,Team,,League,G,AB,R,H,2B,3B,...,SAC,SF,TB,XBH,GDP,GO,AO,GO_AO,NP,PA
0,1,Houston Astros,hou,AL,172,684,97,214,35,4,...,2,5,311,57,11,189,181,1.04,2593,750
1,2,Boston Red Sox,bos,AL,166,699,112,208,44,8,...,2,8,334,74,3,178,222,0.80,3031,764
2,3,Cleveland Indians,cle,AL,168,659,100,191,48,7,...,6,4,289,67,6,211,151,1.40,2982,751
3,4,Chicago White Sox,cws,AL,173,661,99,187,31,9,...,5,2,278,54,5,201,143,1.41,2996,743
4,5,Baltimore Orioles,bal,AL,184,662,99,187,30,3,...,2,2,307,61,13,181,177,1.02,2853,735
5,6,Toronto Blue Jays,tor,AL,181,696,100,187,36,1,...,6,5,270,52,11,222,188,1.18,2728,762
6,7,Detroit Tigers,det,AL,184,698,100,186,31,17,...,2,1,284,59,13,196,158,1.24,2939,754
7,8,New York Yankees,nyy,AL,174,689,111,182,33,4,...,2,4,265,51,10,185,185,1.00,3016,767
8,9,Tampa Bay Rays,tb,AL,219,658,85,170,37,6,...,3,4,267,59,11,191,171,1.12,2912,745
9,10,Oakland Athletics,oak,AL,173,704,94,177,26,11,...,2,3,243,43,9,221,194,1.14,2778,759
10,11,Kansas City Royals,kc,AL,173,684,94,171,23,5,...,11,5,219,33,11,241,204,1.18,2641,746
11,12,Seattle Mariners,sea,AL,184,672,76,166,33,6,...,5,3,265,57,5,202,167,1.21,2921,740
12,13,Texas Rangers,tex,AL,199,674,99,166,35,10,...,9,5,245,53,3,197,159,1.24,2900,756
13,14,Los Angeles Angels,ana,AL,182,678,89,161,25,6,...,9,5,237,44,8,219,192,1.14,2595,734
14,15,Minnesota Twins,min,AL,169,671,104,159,40,5,...,2,7,290,72,7,146,215,0.68,2928,741

In [213]:
d=test1_AL_battingfirst['HR']
import numpy as np

m3=[]
for i in d:
    m3.append(int(i))
m3
Average_AL_battingfirst = np.mean(m3)
Average_AL_battingfirst

15.133333333333333

In [216]:
if (Average_AL_battingfirst>Average_NL_battingfirst):
    print("American league had the greatest average number of homeruns in 2015 while batting first:{}".format(Average_AL_battingfirst))
else:
        print("National league had the greatest average number of homeruns in 2015 while batting first:{}".format(Average_NL_battingfirst))

American league had the greatest average number of homeruns in 2015 while batting first:15.133333333333333